
.line-div{
    margin-bottom: 5%;
}
.above-line{
  margin-left: 12.4%;
    width: 70%;
    height: 0.5rem;
    background-color: rgb(0, 167, 151);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(1.1rem);
  }


  .below-line{
    width: 65%;
    position: absolute;
    display: inline-flex;
    left: 15%;
    justify-content: space-between;
    gap: 3rem;
  }


  .child-line{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    border: 2px solid;
    border-color: rgb(0, 167, 151);
  }



  @media screen and (max-width : 430px){
    .line-div{
      margin-bottom: 10%;
  }
  .above-line{
    margin-left: 15%;
      width: 75%;
      height: 0.5rem;
      background-color: rgb(0, 167, 151);
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      transform: translateY(1rem);
    }
  
  
    .below-line{
      width: 65%;
      position: absolute;
      display: inline-flex;
      left: 20%;
      justify-content: space-between;
      gap: 3rem;
    }
  
  
    .child-line{
      width: 3rem;
      height: 3rem;
      background-color: #fff;
      border-radius: 3rem;
      border: 2px solid;
      border-color: rgb(0, 167, 151);
    }
  }